<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    <form action="register" method="post" style="text-align: center;">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Enter first name"><br><br>
        <input type="text" name="last_name" placeholder="Enter last name"><br><br>
        <input type="text" name="username" placeholder="Enter user name"><br><br>
        <input type="email" name="email" placeholder="Enter Email"><br><br>
        <input type="password" name="password1" placeholder="Enter password"><br><br>
        <input type="password" name="password2" placeholder="Confirm password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>